@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    color: #333;
}

#logo {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

nav {
    float: right;
}

