@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    color: #333;
}

/*Logo and navigation links */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#nav-menu {
    display: inline-block;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    font-size: 150%;
    line-height: 50px;
}

#nav-menu li {
    float: left;
    margin-right: 40px;
}

#nav-menu a {
    text-decoration: none;
    color: #333;
}

#nav-menu a:hover {
    background-color: #005ba1;
    color: white;
}

nav {
    text-align: center;
}

/*Hero image */

/*Found solution at https://www.w3schools.com/howto/howto_css_image_responsive.asp */
.responsive {
    width: 100%;
    height: auto;   
}

.hero-image {
    margin: 0 auto;
}

/* Section for Why ces */

.left-ces {
    width: 25%;
    float: left;
    padding: 5px;
    margin-left: 10%;
 
}

.right-ces {
    width: 25%;
    float: right;
    padding: 5px;
    margin-right: 10%;
}

.center-ces {
    width: 25%;
    margin: 0 auto;
    padding: 5px;
}

#why-ces {
    height: 600px;
    width: 100%;
}

/* H2 and H3 styling */

h2 {
    letter-spacing: 5px;
    color: #005ba1;
    text-align: center;
    text-decoration: solid;
    text-transform: uppercase;
    line-height: 150%;
    margin-top: 100px;
}

h3 {
    letter-spacing: 5px;
    color: #005ba1;
    text-align: center;
    text-transform: uppercase;
    line-height: 150%;
    font-size: 20;
}

/* About section */

.left-about {
    width: 25%;
    float: left;
    padding: 5px;
    margin-left: 10%;
}

.right-about {
    width: 25%;
    float: right;
    padding: 5px;
    margin-right: 10%;
}

.center-about {
    width: 25%;
    margin: 0 auto;
    padding: 5px;
}

/*Contact confirmation page */

#thank-you {
    background-image: url("https://images2.imgbox.com/78/67/9ILBC24k_o.jpg");
    background-color: #333;
    height: 600px;
    text-align: center;
}

#thank-you p {
    color: #f2f2f2;
    font-size: larger;
    margin-top: 50px;
}

#thank-you h2 {
    color: #f2f2f2;
    margin-top: 20px;
    padding-top: 40px;
    font-size: xx-large;
}

#thank-you a {
    color: #f2f2f2;
}

/* Making iframe responsive. Credits to: https://www.benmarshall.me/responsive-iframes/ */
.video {
    overflow: hidden;
    padding-top: 46%;
    position: relative;
    clear: both;   
}

.video iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 80%;
    margin-left: 10%;
    margin-left: 10%;  
}

/* Contact section */

#contact {
    height: 600px;
}
form {
    width: 35%;
    margin-left: 10%;
    float: left;
}

.map {
    overflow: hidden;
    padding-top: 20%;
    position: relative;
    width: 40%;
    margin-right: 10%;
    float: right;    
}

.map iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.input-field {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#submit {
    border-radius: 5px;
    background-color: #005ba1;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#text {
    font-family: Roboto, Sans-serif;
}

/* Footer */

footer {
    display: block;
    background-color: #f2f2f2;
    height: 250px;
    width: 100%;
    text-align: center;
    clear: both;
    padding-top: 20px;
}

address {
    clear: both;
    position: relative;
}

#social-media {
    text-align: center;
    clear: both;
    margin-bottom: 5%;
    position: relative;
}

.some-links {
    font-size: x-large;
    color: #333;
    margin: 10px 10px;
}

/* Media queries */

/* For screens 550px wide and down */
@media screen and (max-width: 550px) {
    #nav-menu {
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 100%;
        font-weight: 600;
    }

    #nav-menu li {
        margin-right: 25px;
    }

    #contact {
        width: 80%;
        margin: 0 auto;
    }
}    

/* For screens 900px wide and down */
@media screen and (max-width: 900px) {
    .left-ces, .right-ces, .center-ces {
        width: 80%;
        height: auto;
        margin-right: 10%;
        margin-left: 10%;
        padding: 0;
           
    }

    #why-ces {
        height: auto;
    }

    #about div {
        width: 80%;
    }

    .video {
        overflow: hidden;
        padding-top: 37%;
        position: relative;
        margin: 0 auto;
    }

    form {
        width: 80%;
        height: auto;
        margin-right: 10%;
        margin-left: 10%;
        padding: 0;
    }

    #contact {
        height: 600px;
    }

    .map {
        overflow: hidden;
        padding-top: 50%;
        position: relative;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20px;
        margin-top: 20px;    
    }
}