@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    color: #333;
}

/*Logo and navigation links */

#logo {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

#nav-menu {
    float: right;
    list-style: none;
    margin-right: 40px;
    font-size: 150%;
    line-height: 100px;
}

#nav-menu li {
    float: right;
    margin-right: 40px;
}

#nav-menu a {
    text-decoration: none;
    color: #333;
}

#nav-menu a:hover {
    background-color: #005ba1;
    color: white;
}

/*Hero image */

.responsive {
    max-width: 100%;
    height: auto;
}

